@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

body {
    font-family: 'Merriweather', serif;
    background-color: #dfe658;
}
/* hero {
    background-image: url("./images/pineapple.jpg");
    background-color: #dfe658;
    background-position: center;
    background-repeat: repeat;
} */
/* #main-container {
    min-height: 100%;
    background-image: url("./images/pineapple.jpg");
    background-color: #dfe658;
    background-position: center;
    background-repeat: repeat;

} */